/* Core CSS */

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: arial;
}

.navigation {
	width: 20%;
	height: 100%;
	min-width: 170px;
	position: absolute;
	border-right-style: solid;
	border-right-color: #E6E6E6;
	background-color: #E6E6E6;
	resize:horizontal;
	z-index: 1;
	padding-bottom: 10px;
}
.main {
	float: right;
	width: 80%;
	height: 100%;
	position: relative;
	
}

.header {
	width: 100%;
	height: 150px;
	position: relative;
	background-color: #ffffff;
}

.page {
	padding: 10px;
	width: auto;
	background-color: #ffffff;
	color: #000000;
	position: relative;
}


.logo {
	width: 100%;
	height: 150px;
	vertical-align: middle;
	text-align: center;
	background-color: #ffffff;
	position: relative;
}

.systeminfo {
	float: left;
	width: 30%;
	height: 100%;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-left: auto;   margin-right: auto;
	background-color: #E6E6E6;
}

.section {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
}

.section-header {
margin-top: 10px;
margin-bottom: 10px;
padding-left: 5px;
font-weight: bold;
}

.entry {
	width: auto;
	height: 30px;
	color: #ffffff;
	border-style: solid;
	border-width: 5px;
	border-color: #E6E6E6;
	background-color: #B8B8B8;

	padding-top: 5px;
	padding-left: 10px;
}

#title { 
	float: left;
	width: 70%;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-left: auto;   margin-right: auto;
	margin-top: 120px;
		font-weight: bold;
}



#pie1 {
float: left;
}

#pie2 {
text-align: center;
}
#pie3 {
float: right;
}

.piestrip {
	min-width:780px;
	width: 100%;
	border-color: #E6E6E6;
	border-style: solid;
	overflow: hidden;
}

.footer {
	
}

#tables {
margin: 5px;
	width:100%
}

#maintable {
	width:700px;
}

#lefttable {
    width:50%;
	float:left;
}
#righttable {
    width:50%;
    float:left;

}

